import { Effect } from "effect";
import { Runtime } from "foldkit";

import * as Main from "./main";

const program = Runtime.makeProgram({
  init: Main.init,
  update: Main.update,
  view: Main.view,
});

Runtime.run(program, {
  flags: Effect.succeed({}),
  rootId: "root",
});
