import { Runtime } from "foldkit";

import * as Main from "./main";

const program = Runtime.makeElement({
  Model: Main.Model,
  init: Main.init,
  update: Main.update,
  view: Main.view,
  container: document.querySelector("#root"),
});

Runtime.run(program);
